.table {
  margin: 30px;
}
.tb-header{
  border-bottom: thick double #4287f5;
  font-size: 18px;
  font-weight: bold;
}
.col{
  max-width :20% !important;
}

ion-segment-button.del {
  --background: red;
  --color: #fff;
  --background-hover: red;
}